<!DOCTYPE html>
<html lang="en-US">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <body ng-app="myApp">
        <div class="container" ng-controller="customersController as ctrl">
            <h3>Users</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="employee in ctrl.employees">
                        <td>{{ employee.id}}</td>
                        <td>{{ employee.name}}</td>
                        <td>
                            <button class="btn" ng-click="ctrl.editUser(employee)">
                                <span class="glyphicon glyphicon-pencil"></span>  Edit
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <hr>
            <button class="btn btn-success" ng-click="ctrl.newUser()">
                <span class="glyphicon glyphicon-user"></span>  Create New User
            </button>
            <hr>

            <h3 ng-show="ctrl.edit">Create New User:</h3>
            <h3 ng-hide="ctrl.edit">Edit User:</h3>

            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">First Name:</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="fName" ng-disabled="!edit" placeholder="First Name">
                    </div>
                </div> 
                <div class="form-group">
                    <label class="col-sm-2 control-label">Last Name:</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="lName" ng-disabled="!edit" placeholder="Last Name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Password:</label>
                    <div class="col-sm-10">
                        <input type="password" ng-model="passw1" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Repeat:</label>
                    <div class="col-sm-10">
                        <input type="password" ng-model="passw2" placeholder="Repeat Password">
                    </div>
                </div>
            </form>

            <hr>
            <button class="btn btn-success" ng-disabled="error || incomplete">
                <span class="glyphicon glyphicon-save"></span>  Save Changes
            </button>

        </div>
    </body>
</html> 